* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
.main_block{
  background-color: #1d2026;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden
}

nav{
  display: flex;
  align-items: center;
  padding: auto;
}

nav .logo{
  width: 10%;
  height: 10%;
  margin-right: auto;
}

nav ul{
  flex: 1;
  text-align: right;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
}

.vault_container{
  position: absolute;
  left: 10%;
  top: 40%;
  width: 200px;
}
.vault_boy{
  width: 40%;
  height: 40%;
  transform: scaleX(-1);
}

.home_page_text{
  margin-left: 45%;
  margin-right: 10%;
  margin-top: -30%;
}

.home_page_text h1{
  font-size: 60px;
  font-weight: 400px;
}

.home_page_text p{
  font-size: 20px;
}